<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toast Notification</title>
    <!-- <link rel="stylesheet" href="/loginandsignup/css/toast.css"> -->
    <link rel="stylesheet" href="css/toast.css">
</head>
<body>
    <!-- <button onclick="showToast()">Show Toast</button> -->
    
    <div id="toastContainer"></div>

    <!-- <script src="/loginandsignup/js/toast.js"></script> -->
    <script src="js/toast.js"></script>
</body>
</html>
