body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}

/* Header Styles */
header {
	background-color: #333;
	padding: 20px;
	color: #fff;
}

header h1 {
	margin: 0;
}

/* Content Styles */
.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.course {
	margin-bottom: 20px;
	padding: 20px;
	background-color: #f9f9f9;
}

.course h2 {
	margin: 0;
}

.course p {
	margin-top: 10px;
}

.course a {
	display: inline-block;
	padding: 8px 12px;
	background-color: #333;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
}

.course a:hover , header h1 a:hover {
	background-color: #555 !important;
}